body {
  font-size: 0.95rem;
}

h1 {
  font-size: 2rem;
}

h1, h2 {
  font-weight: 700 !important;
}

.card-simple .article-title, .media.stream-item .article-title {
  font-size: 1.2rem;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 40%;
}
